// Colors
$blueColor: #0058dc;
$greyColor: #f5f5f5;
$mediumGrey: #aeeeaf;
$darkGrey: #808080;
$textColor: #454545;
$darkBlue: #09375f;
$alertColor: #ed1c24;
$labelColor: #3f4332;
$successColor: #d9f2e5;
$successFontColor: #00a651;
$textDark: #262626;
$loginBg: #f8f8f8;
$linkColor: #1a76bc;
$greyBorder: #e5e5e5;
$checkboxColor: #6bce00;
$inputBorderColor: #ccc;
$placeholderColor: #aaa;
$disabledStatusColor: #717171;

$gutter: 60px;
// Bootstrap variables
$grid-gutter-width: $gutter;
$mainColor: $blueColor;
$bgColor: $greyColor;

